.main-edit {
  margin: 20px auto;
}
.edit-on-add {
  margin-left: 50px;
}
/* .search-bar {
  margin: 30px 0;
}
.search-bar input {
  width: 80% !important;
} */
.edit-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-edit-table {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid black;
}
.header-edit-table h3 {
  padding: 30px 40px;
}
.main-info-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-info-edit h5 {
  padding: 20px 30px;
}
/* .edit-delete {
    margin-left: 20px;
} */
.edit-block > *:nth-child(2n) {
  margin-left: 20px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.table {
  margin-top: 20px;
}
.form-inline .form-control {
  width: 70% !important;
}
.loader-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  top: 0;
  z-index: 5;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  z-index: 7;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container {
  background: white;
  border-radius: 10px;
  padding: 5px 15px;
  min-height: 50vh;
  min-width: 50vh;
  max-height: 90vh;
  max-width: 90vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.edit-block {
  display: flex;
}
.s-i {
  display: flex;
}
