.buttons-click button {
  margin: 20px;
}
.form-text {
  margin-top: 0 !important;
}
.main-states {
  background-color: lightgrey;
  border-radius: 7px;
  width: calc(100% - 64px);
  max-width: 700px;
  margin: 25px auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.states-container {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-states {
  float: right;
}
.add-states-block {
  width: 600px;
  margin: 0 auto;
  margin-top: -40px;
  margin-bottom: 20px;
}
.main-states h1 {
  text-align: center;
}
.pre-states-container {
  width: 600px;
}
@media screen and (max-width: 700px) {
  .pre-states-container {
    width: auto;
  }
}
.asterisk {
  color: red;
  font-size: 120%;
}
.allscreen {
  flex: 1;
  width: 100%;
  height: 100vh;
}
.alert-root {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 100px auto;
}
/* .delete-states {
} */
.head-states {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.error {
  font-size: 16px !important;
}
.selector {
  width: 600px;
}
@media screen and (max-width: 800px) {
  .selector {
    width: 300px;
  }
}
.DayPickerInput {
  display: block !important;
}
.DayPickerInput input {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
}
.send-form {
  text-align: center;
  margin: 40px;
}
.input__group {
  margin-bottom: 20px;
}
