body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin: 0 !important;
  padding: 0 !important;
}

.user-fio {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0.35;
  margin: 0 12px;
  font-size: 13px;
}

.row {
  width: 100%;
}

.navbar-nav {
  justify-content: flex-end;
}

.container,
.container-fluid {
  overflow: scroll;
}

.heading {
  font-size: 2rem;
}

@media screen and (max-width: 550px) {
  .heading {
    font-size: 1.3rem;
  }
}
