/* .navbar {
    background-color: green !important;
} */
.container-main {
    width: 100%;
    height: 90vh;
}
.enter-form {
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
}
.enter-form-full {
    width: 300px;
}
.enter-button {
    width: 300px;
    margin-top: 20px;
}
/* .enter-form input {
    border: 1px solid black;
} */