/* .input-info-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-info-block Button {
    margin: 20px;
} */

.buttons-click {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttons-click Button {
    margin: 20px;
}
.form-text {
    margin-top: 0 !important;
}