.report-container span {
    font-size: 110%;
    text-decoration: underline;
}
.report-container h2 {
    text-align: center;
    margin-top: 50px;
}
.teacher-card {
    display: flex;
    font-display: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.select-all-button {
    margin: 50px;
}
.form-text {
    margin-top: 0 !important;
}
.next-step {
    float: right;
    margin-right: 50px;
    padding: 7px 40px !important;
}